/**
 *
 * @copyright  2015 izend.org
 * @version    1
 * @link       http://www.izend.org
 */
 
/* en.less */

.submit_subscribe {width:91px !important;height:21px !important;background:transparent url("@{base-path}/images/paypal_subscribe_en.gif") no-repeat !important;text-indent:-1000em !important;box-shadow:none !important;}
.submit_donate {width:74px !important;height:21px !important;background:transparent url("@{base-path}/images/paypal_donate_en.gif") no-repeat !important;text-indent:-1000em !important;box-shadow:none !important;}
.submit_buy {width:86px !important;height:21px !important;background:transparent url("@{base-path}/images/paypal_buy_en.gif") no-repeat !important;text-indent:-1000em !important;box-shadow:none !important;}
.submit_pay {width:86px !important;height:21px !important;background:transparent url("@{base-path}/images/paypal_pay_en.gif") no-repeat !important;text-indent:-1000em !important;box-shadow:none !important;}
.submit_paypal {width:100px !important;height:35px !important;background:transparent url("@{base-path}/logos/paypal.gif") no-repeat !important;text-indent:-1000em !important;box-shadow:none !important;}

#sharebar {width:60px;margin-left:-104px;}
